.card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 280px;
  min-height: 400px;
  padding: 20px;

  background-color: #e5e5e5;
  border-bottom: 8px solid;

  .image {
    object-fit: contain;

    &-container {
      position: relative;
      order: 0;
      aspect-ratio: 16 / 9;
      background: #373333;
    }
  }

  .statistics {
    order: 1;
  }

  .header {
    flex-direction: column;
    align-items: stretch;
    order: 2;
    padding: 0;

    &__actions {
      display: flex;
      gap: 8px;
      justify-content: flex-end;
      width: 100%;
    }
  }

  .title {
    overflow: hidden;
    display: -webkit-box;

    min-height: 2lh;
    margin: 0;
    padding: 0 6px;

    font-weight: 700;
    text-align: center;

    -webkit-box-orient: vertical;

    -webkit-line-clamp: 2;
  }

  .more-button {
    order: 3;
    margin: auto auto 0;
  }
}
