:host {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--tui-base-04);
  border-radius: var(--tui-radius-xs);

  &.removable {
    background-color: var(--scrollable-background);
  }
}

.link {
  display: block;
  flex-grow: 1;
  padding: 0.5em;
  word-break: break-word;
}
