<div class="profile" *rxLet="userInfo$; let userInfo">
  <span class="profile-name mat-small">{{ userInfo?.name || defaultUserName }}</span>
  <ng-container *ngIf="userInfo; else notAuthorized">
    <yt-button class="profile__button" [routerLink]="['/admin']" icon="account_circle" appearance="fab" />
    <yt-button (click)="logout()" class="profile__button" icon="logout" appearance="fab" />
  </ng-container>

  <ng-template #notAuthorized>
    <yt-button [routerLink]="['/auth']" class="profile__button" icon="login" appearance="fab" />
  </ng-template>
</div>
