{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "avoid",
  "semi": false,
  "trailingComma": "all",
  "importOrder": ["^(\\.+|src)/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["decorators-legacy", "typescript"],
  "endOfLine": "lf"
}
